/*  RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* GENERAL */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.container1 .login{
    display: flex;
    gap: 15px;
}
.container2{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container3{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}




/* HEADER */
.header-top {
    padding: 15px 0;
    background-color: #DE712B;
    color: white;
}
.header-top>* {
    padding: 6px;
}
.header-top>.container{
    display: flex;
    align-items: center;
}
.header-top .gender,
.header-top .login {
    width: 20%;
    text-align: center;
}
.header-top .login {
    text-align: right;
}
.logo img{
    max-width: 20%;
    align-items: center;
}
.container .gender{
    align-items: center;
}
.logo{
    text-align: center; 
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}



/* MAIN */
.row{
    display: flex;
    margin-top: 5%;
    margin-bottom: 15%;
    gap: 30px;
}
.col{
    width: calc(100%/3);
    
}
.img-fluid{
    max-width: 100%;
}
.discount{
    background-color: red;
    color: white;
    padding: 4px;
}
.sostenibilita{
    background-color: green;
    color: white;
    margin-left: 10px;
    padding: 4px;
}
.contenitore{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0px;
}
.heart{
    background-color: white;
    color: black;
    font-size: 2em;
    position: absolute;
    top: 5px;
    right: 0;
}
.col-top{
    position: relative;
}
.col-bottom span:last-child{
    text-decoration: line-through;
}
.col-bottom span:nth-child(3n){
    color: red;
}


/* FOOTER */
.footer-section{
    background-color: black;
    color: white;
    padding: 50px 0;
}
.info{
    text-align: right;
}